---

---

<section class="h-[calc(100vh-100px)] min-w-screen grid place-content-center grid-cols-1 lg:grid-cols-2">    
    <h1 class="text-6xl md:text-7xl lg:text-8xl sm:mb-5" id="hero-title">Ganti Rama Devi</h1>
    <div class="max-w-xl text-lg lg:ml-auto" id="hero-text">
      Welcome to my personal website, a dedicated space to showcase my creative works and literary projects. Here, you can explore my novels, stories, and other writings. I invite you to browse through my portfolio and discover the range of my work as an author.
    </div>
  </section>

<style>
  section {
    padding: 2rem;
  }
</style>

<script>
  import { gsap } from "gsap"
  gsap.fromTo("#hero-title", 
      { opacity: 0, x:-50 },
      {
        opacity: 1,
        x: 0,
        duration: 0.6,
        ease: "power3"
      })

  gsap.fromTo("#hero-text", 
      { opacity: 0, x: 50 },
      {
        opacity: 1,
        x: 0,
        duration: 1.5,
        ease: "power3"
      })
</script>